body {
	text-align: center;
	line-height: 1.5 !important; 
}

.reveal .slide-background.l-cover:before {
	background: rgba(0, 0, 0, 0) !important;
}

.slides {
	max-height: 30vh !important;
	height: 100% !important;
	width: 100% !important;
}

.slides section {
	width: 100% !important;
}

.slides section.l-cover {
	margin-top: 0 !important;
}

#logos p {
	display: flex;
	width: 100%;
	text-align: center;
}

#logos p img {
	position: relative;
	width: 6vw;
	height: 6vw;
	background-color: white;
	margin: 10px;
}

.left {
	margin: 10px 0 15px 0;
	text-align: left;
	float: left;
	z-index:-10;
	width:48%;
	line-height: 2.5 !important; 
}

.left img {
	background-color: white;
	max-width: 100%;
}

section a {
	text-decoration: none !important;
	background-color: white;
}

.right {
	line-height: 2.5;
	margin: 10px 0 15px 0;
	float: right;
	text-align: left;
	z-index:-10;
	width:48%;
	line-height: 2.5 !important; 
}

.right ul {
	line-height: 1.5; 
}

li a {
	list-style-type: none;
}

section img {
	max-height: 650px !important;
}

iframe {
	max-height: 60vh !important;
}
